body {
    background-image: url('../images/head/display.jpg');
    background-attachment: fixed;
}

.main-jumbo {
    background-image: url('../images/head/4.jpg'); 
    background-size: cover; 
    color: white; 
    text-align: center; 
    height: 450px;
}


.main-jumbo h1 {
    height: 120px;
}

.container-fluid h2 {
    color: white;
}

footer {
    padding: 1%;
    color: white;
    background: #000;
    text-align: center;
}

.about>.container-fluid>p {
    text-align: center; 
    color: white;
}

.about>.container-fluid>h1 {
    text-align: center; 
    color: white;
}

.about-jumbo {
    background-image: url(../images/head/Movie.jpg); 
    height: 500px;
}

.about .container {
    color: white;
}

.about img {
    width: 100%;
}

.contact {
    color: white;
}

.contact .section-heading {
    text-align: center;
}

.contact .form-header p {
    text-align: center;
}